<div class="container has-text-centered">
  <div class="column is-half is-offset-one-quarter">


    <section class="section is-small">
      <div class="box">
      
        <h2 class="title font">Welcome to your Profile! </h2>

            <div class="title has-text-grey is-2">Go ahead and start blogging!</div>
      
      </div>
    </section>

    <div class="box">
      <div class="container has-text-centered">
        <div class="column is-half is-offset-one-quarter">
          <h2></h2>
            {{!-- <img src="pfp.jpg" alt='profilepic'/> --}}
            You are {{name}}
            @{{email}}
          </div>
        </div> 
      </div>
    </div>

  </div> 
</div>